
.navbar {
  padding-top: 20px; }

footer {
  margin-top: 100px;
  text-align: center; }

li.beer span.name {
  font-weight: bold; }
li.beer span.abv {
  font-style: italic; }

div#region-beers > ul li {
  padding: 10px;
  outline: 1px solid #eee; }
div#region-beers > ul li:nth-child(odd) {
  background: #eee; }
