body {
}

.navbar {
  padding-top: 20px;
}

footer {
  margin-top: 100px;
  text-align: center;
}

li.beer {
  span.name {
    font-weight: bold;
  }
  span.abv {
    font-style: italic;
  }
  span.brewery-name {
  }
  span.description {
  }
}

div#region-beers>ul {
  li {
    padding: 10px;
    outline: 1px solid #eee;
  }

  li:nth-child(odd) {
    background: #eee;
  }
}
